<!DOCTYPE html>
<html>

<head>

    <title>History</title>

    <link rel="stylesheet" href="/public/css/history.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">NMChat</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <div class="d-flex flex-row ">
                    <a class="navbar-brand" href="#">
                        <div class="p-2 bd-highlight justify-content-center align-items-stretch">
                            <i class="fa fa-home" aria-hidden="true" href="/home"> Home</i>
                        </div>
                    </a>
                    <a class="navbar-brand" href="#">
                        <div class="p-2 bd-highlight justify-content-center align-items-stretch">
                            <i class="fa fa-comments-o" aria-hidden="true" href="/friend"> Friend</i>
                        </div>
                    </a>
                    <a class="navbar-brand" href="#">
                        <div class="p-2 bd-highlight justify-content-center align-items-stretch">
                            <i class="fa fa-clock-o" aria-hidden="true" href="/history"> History</i>
                        </div>
                    </a>


                </div>

            </ul>

            <div class="dropdown open dropleft">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user-circle" aria-hidden="true">
                        {{#if isLogin}}
                        {{this.account.Name}}
                        {{/if}}
                    </i>
                </button>
                <div class="dropdown-menu" aria-labelledby="triggerId">

                    {{#if isLogin}}
                    <button class="dropdown-item" href="#">
                        <i class="fa fa-info" aria-hidden="true"> Profile</i>
                    </button>
                    <button class="dropdown-item" href="#">
                        <i class="fa fa-sign-out" aria-hidden="true"> Sign out</i>
                    </button> {{/if}}
                </div>
            </div>
        </div>

    </nav>



    <div>
        <br><br><br>
        <h4 class="title-history">Meetings History</h4>
        <p class="title-history">Your joinning history:</p>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Room</th>
                    <th>Host Name</th>
                </tr>
            </thead>
            <tbody>
                {{#each histories}}
                <tr>
                    <td>{{StartTime}}</td>
                    <td>{{EndTime}}</td>
                    <td>{{RoomeID}}</td>
                    <td scope="row">{{HostName}}</td>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>







    <!-- <script src="/public/js/main.js"></script> -->
    <script src="/public/js/homepage.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js " integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI " crossorigin="anonymous "></script>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/js-client-server/xhomepage.js "></script>
</body>

</html>