<!DOCTYPE html>
<html>

<head>

    <title>Profile - {{userProfile.Name}}</title>

    <!-- <link rel="stylesheet" href="/css/main.css" /> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/public/css/main.css" />
    <link rel="stylesheet" href="/public/css/index.css" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.1/js/bootstrap.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.1/css/bootstrap.css" rel="stylesheet" />
    <!------ Include the above in your HEAD tag ---------->

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/profile.css" rel="stylesheet" />

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">NMChat</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <div class="d-flex flex-row ">
                    <a class="navbar-brand" href="/home">
                        <div class="p-2 bd-highlight justify-content-center align-items-stretch">
                            <i class="fa fa-home" aria-hidden="true" href="/home"> Home</i>
                        </div>
                    </a>
                    <a class="navbar-brand" href="/friend">
                        <div class="p-2 bd-highlight justify-content-center align-items-stretch">
                            <i class="fa fa-comments-o" aria-hidden="true" href="/friend"> Friend</i>
                        </div>
                    </a>
                    <a class="navbar-brand" href="/history">
                        <div class="p-2 bd-highlight justify-content-center align-items-stretch">
                            <i class="fa fa-clock-o" aria-hidden="true" href="/history"> History</i>
                        </div>
                    </a>

                </div>

            </ul>

        </div>

    </nav>

    <div id="myModal1" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Update info</h4>
                </div>
                <div class="modal-body">
                    <form method="POST" id="edit-password-form">
                        <input type="text" style="display: none;" name="id" id="id" value="{{userProfile.UserID}}" />
                        <p class="Title">Name</p>
                        <div class="form-group">
                            <input type="text" class="form-input" name="name" id="name" placeholder="Your Name" value="{{userProfile.Name}}" />
                        </div>
                        <p class="Title">Phone number</p>
                        <div class="form-group">
                            <input type="text" class="form-input" name="phone" id="phone" placeholder="Phone" value="{{userProfile.PhoneNumber}}" />
                        </div>
                        <!-- <p class="Title">Email</p>
                        <div class="form-group">
                            <input type="email" class="form-input" name="email" id="email" placeholder="Email" value="{{userProfile.Email}}" />
                        </div> -->
                        <p class="Title">Birthday</p>
                        <div class="form-group">
                            <input type="text" class="form-input" name="birthdate" id="birthday" placeholder="Birthday" value="{{userProfile.BirthDate}}" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <input type="submit" action="/user/profile" class="btn btn-info" name="submit" id="submit" form="edit-form" class="form-submit" value="Save change" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div id="myModal2" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Change password</h4>
                </div>
                <div class="modal-body">
                    <form method="POST" id="edit-form">
                        <input type="text" style="display: none;" name="id" id="id" value="{{userProfile.UserID}}" />

                        <p class="Title">Current password</p>
                        <div class="form-group">
                            <input type="password" class="form-input" name="cur_password" id="cur_password" placeholder="Current password" />
                        </div>
                        <p class="Title">New password</p>
                        <div class="form-group">
                            <input type="password" class="form-input" name="new_password" id="new_password" placeholder="New password" />
                        </div>
                        <p class="Title">Retype password</p>
                        <div class="form-group">
                            <input type="password" class="form-input" name="re_password" id="re_password" placeholder="Repeat your password" />
                        </div> -->
                        <div class="">

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <input type="submit" action="/user/profile" class="btn btn-info" name="submit" id="submit-password" form="edit-passowrd-form" class="form-submit" value="Save change" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div class="container">
        <div style="    display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;">
            <div style="padding: 30px;">
                <img src="/public/images/icons/default_user.png">
            </div>

            <div>


                <h2>{{userProfile.Name}}</h2>
                <p><strong>ID: </strong> {{userProfile.UserID}}</p>
                <p><strong>BirthDate: </strong> {{userProfile.BirthDate}}</p>
                <p><strong>Email: </strong> {{userProfile.Email}}</p>
                <p><strong>Phone number: </strong>{{userProfile.PhoneNumber}}</p>
            </div>
        </div>
        <div>
            <div style="display: inline-block;
            display: -moz-inline-box;
            *display: inline; /* For IE7 */
            zoom: 1; /* Trigger hasLayout */
            width: 30%;
            text-align: center;">
                <button type="button" id="button1" class="btn btn-success btn-block" data-toggle="modal" data-target="#myModal1">Edit</button>
            </div>
            <div style="display: inline-block;
            display: -moz-inline-box;
            *display: inline; /* For IE7 */
            zoom: 1; /* Trigger hasLayout */
            width: 30%;
            text-align: center;">
                <button type="button" id="button1" class="btn btn-warning btn-block" data-toggle="modal" data-target="#myModal2">Change Password</button>
            </div>
            <div style="display: inline-block;
            display: -moz-inline-box;
            *display: inline; /* For IE7 */
            zoom: 1; /* Trigger hasLayout */
            width: 20%;
            text-align: center;">
                <a href="/" class="btn btn-info btn-block"><span class="fa fa-user"></span> Go home </a>
            </div>
        </div>
    </div>


    <script>
        let isEdit = {
            {
                this.isEdit
            }
        };
        if (isEdit == false) {
            // $('#button1').prop('disabled', true);
            $("#divBtnEdit").css("display", "none");
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/js-client-server/xprofile.js "></script>
    <script src="/js-client-server/client-config.js "></script>
</body>

</html>