<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sign up</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/public/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/css/util.css">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <!--===============================================================================================-->
</head>

<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-50 p-b-90">
                <form class="login100-form validate-form flex-sb flex-w">
                    <span class="login100-form-title p-b-51">
						Sign up
					</span>


                    <div class="wrap-input100 validate-input m-b-16" data-validate="Username is required">
                        <input class="input100" type="text" name="username" placeholder="Email" id="username">
                        <span class="focus-input100"></span>
                    </div>


                    <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
                        <input class="input100" type="password" name="pass" placeholder="Password" id="password">
                        <span class=" focus-input100 "></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
                        <input class="input100" type="password" name="re-pass" placeholder="Re-password" id="re-password">
                        <span class=" focus-input100 "></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16">
                        <input class="input100" type="text" name="pass" placeholder="Name" id="name">
                        <span class=" focus-input100 "></span>
                    </div>

                    <div class="container-login100-form-btn m-t-17 ">
                        <button class="login100-form-btn " id="signup-button">
							Signup
						</button>
                    </div>

                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1 "></div>

    <!--===============================================================================================-->
    <script src="/public/vendor/jquery/jquery-3.2.1.min.js "></script>
    <!--===============================================================================================-->
    <script src="/public/vendor/animsition/js/animsition.min.js "></script>
    <!--===============================================================================================-->
    <script src="/public/vendor/bootstrap/js/popper.js "></script>
    <script src="/public/vendor/bootstrap/js/bootstrap.min.js "></script>
    <!--===============================================================================================-->
    <script src="/public/vendor/select2/select2.min.js "></script>
    <!--===============================================================================================-->
    <script src="/public/vendor/daterangepicker/moment.min.js "></script>
    <script src="/public/vendor/daterangepicker/daterangepicker.js "></script>
    <!--===============================================================================================-->
    <script src="/public/vendor/countdowntime/countdowntime.js "></script>
    <!--===============================================================================================-->
    <script src="/public/js/main.js "></script>

</body>

</html>