<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeting room</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/meeting_room.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<!-- <body class="w-100 h-100" style="background-color: darkgrey;overflow-x: hidden;overflow-y: hidden;"> -->

<body class="w-100 h-100" style="background-color: darkgrey;">
    <div class="flex row">
        <div class=" w-75 col " style="background-color:darkgrey;">

            <div class="row w-100 video-call-parent" style="margin-left: 10px;">
                <video class="video-call localVideo" id="local-video" autoplay playsinline muted></video>
                <video class="video-call remoteVideo" id="remote-video-1" autoplay playsinline></video>
                <video class="video-call remoteVideo" id="remote-video-2" autoplay playsinline></video>
                <video class="video-call remoteVideo" id="remote-video-3" autoplay playsinline></video>
                <video class="video-call remoteVideo" id="remote-video-4" autoplay playsinline></video>
            </div>
            <br>
            <br>
            <div class="row w-75 large-video">
                <video class="video-call-large-screen col" id="remmote-video-large" autoplay playsinline muted></video>
            </div>
            <div class="group-button">
                <a name="" id="btnMicro" id="iconMicro" class="btn btn-primary rounded-button" href="#" role="button">
                    <i class="fa fa-microphone icon-call" aria-hidden="true"></i>
                </a>

                <a name="" id="btnAudio" class="btn btn-primary rounded-button" href="#" role="button">
                    <i class="fa fa-volume-up icon-call" aria-hidden="true"></i>
                </a>
                <a name="" id="btnVideo" class="btn btn-primary rounded-button" href="#" role="button">
                    <i class="fa fa-video-camera icon-call " aria-hidden="true"></i>
                </a>
                <a name="" id="btnShareScreen" class="btn btn-primary rounded-button" href="#" role="button">
                    share screen
                </a>
                <a name="" id="btnLeave" class="btn btn-danger leave-meeting" href="#" role="button">
                    {{#if isHost}}End Meeting{{else}}Leave Meeting{{/if}}
                </a>
            </div>
        </div>


        <div class="w-25" style="background-color: white; border-style:outset; border-color: grey; ">
            <div id="divRoomInfo">
                
                Room: {{this.roomInfo.roomName}}
                <br>
                Host: {{this.roomInfo.host.Name}}{{#if isHost}}<b>(You)</b>{{/if}}
                
            </div>
            <div class="d-flex">
                <button data-toggle="modal" data-target="#modalParticipants" type="button" name="" id="btnParticipants" class="btn btn-primary participants " btn-lg btn-block>
                    <i class="fa fa-eye" style="font-size: larger; color: white" aria-hidden="true">
                        Participants
                    </i>
                </button>
                <button data-toggle="modal" data-target="#modalAddFriend" type="button" name="" id="btnInviteDialog" class="btn btn-primary participants " btn-lg btn-block>
                    <i class="fa fa-plus" style="font-size: larger; color: white" aria-hidden="true">
                        Invite
                    </i>
                </button>
            </div>

            <hr>
            <div id="txtMessages" style="overflow:scroll ; height:80%; margin-left: 10px ">
                {{#each messages}}
                <p>{{message}}</p> {{/each}} </div>
            <div style="background-color:white ">
                <div class="input-group">
                    <form id="formSendMessage" action="" method="post" class="form-inline">
                        <input type="text" class="form-control" placeholder="Tin nhắn" id="message">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Gửi</button>
                        </div>
                    </form i>
                    <br>
                    <br><br>
                    <form ref="formUpload" id="formUpload" method="post" class="form-inline" action="/room/upload" encType="multipart/form-data">
                        <!-- <label for="myfile">Select a file:</label> -->
                        <input type="file" id="myfile" name="myfile"><br>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Gửi file</button>
                        </div>
                    </form>
                </div>

            </div>


        </div>
    </div>

    <!-- Participants dialog -->
    <div class="modal fade" id="modalParticipants" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Participants</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div>
                        <!-- <a name="" id="mute-all" class="btn btn-danger diagonal-line" href="#" role="button">
                            <i class="fa fa-volume-up" aria-hidden="true"></i>
                        </a>
                        <a name="" id="disable-video-all" class="btn btn-danger diagonal-line" href="#" role="button">
                            <i class="fa fa-video-camera" aria-hidden="true"></i>
                        </a> -->

                        {{#if isHost}}
                        <input type="text" id="edtKick" name="edtKick" placeholder="enter id to kick">
                        <button type="button" id="btnKick" class="btn btn-danger">Kick</button>
                        <br>
                        <input type="checkbox" id="checkVideo" name="checkVideo" value="disable video" checked>
                        <label>allow all video</label>
                        <input type="checkbox" id="checkMicro" name="checkMicro" value="disable micro" checked>
                        <label>allow all micro</label> {{/if}}
                    </div>

                    <hr>
                    <div id="divParticipants">
                        {{#each participant}}
                        <div class="participant-cell">
                            <span>{{Name}}</span>
                            <div class="cell-options">
                                <div>
                                    {{#if isCanAudio}}
                                    <a name="" id="mute-participant" class="btn btn-primary" href="#" role="button">
                                        <i class="fa fa-volume-up" aria-hidden="true"></i>
                                    </a>{{else}}
                                    <a name="" id="mute-participant" class="btn btn-danger diagonal-line" href="#" role="button">
                                        <i class="fa fa-volume-up" aria-hidden="true"></i>
                                    </a> {{/if}}
                                </div>
                                <div>
                                    {{#if isCanVideo}}
                                    <a name="" id="disable-camera-participant" class="btn btn-primary" href="#" role="button">
                                        <i class="fa fa-video-camera" aria-hidden="true"></i>
                                    </a>{{else}}
                                    <a name="" id="disable-camera-participant" class="btn btn-danger diagonal-line" href="#" role="button">
                                        <i class="fa fa-video-camera" aria-hidden="true"></i>
                                    </a>{{/if}}
                                </div>

                            </div>
                            <br>
                            <br>
                            <hr>
                        </div>
                        {{/each}}
                    </div>



                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalAddFriend" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Mời bạn</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="post" class="form-inline">
                        <label for=""></label>
                        <input type="email" class="form-control" style="width: 80%;" name="" id="edtInvite" aria-describedby="emailHelpId" placeholder="Email">
                        <button class="btn btn-primary" id="btnInvite" type="submit" style="margin-left: auto; margin-right: 16px">Mời</button>
                    </form>
                    <hr>
                    <h5 class="modal-title w-100 font-weight-bold">Danh sách bạn bè</h5>
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Tên</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody id="txtFriends">
                                <tr><td>loading...</td></tr>
                                {{#each friends}}
                                <tr>
                                    <td scope="row">name</td>
                                    <td>email</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



        <script src=" https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js " integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI " crossorigin="anonymous "></script>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js "></script>
        <script src="/public/js/meeting_room.js "></script>

        <!-- ////////////////// -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script>
            var roomName = '{{this.roomInfo.roomName}}';
            var isHost = {{this.isHost}};
            var userName = '{{this.userId}}';
        </script>
        <!-- This file is automatically added/served when running "node index.js". -->
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>


        <!-- ////////////////// -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script>
            var roomName = '{{this.roomInfo.roomName}}';
            var isHost = {{this.isHost}};
            var userName = '{{this.userId}}';

            $('.video-call').attr('poster', '/images/icons/default_user.png');
        </script>
        <!-- This file is automatically added/served when running "node index.js". -->
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>

        <script type="text/javascript" src="/js-client-server/client-room.js"></script>
        <script src="/js-client-server/client-updownfile.js"></script>
        <script src="/js-client-server/client-invite.js"></script>
        <script src="/js-client-server/applyConfig.js "></script>

</body>

</html>