<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/meeting_room.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="w-100 h-100" style="background-color: darkgrey;overflow-x: hidden;">
    <div class="flex row">
        <div class=" w-75 col " style="background-color:darkgrey;">

            <div class="row w-100 video-call-parent" style="margin-left: 10px;">
                <video class="video-call localVideo" id="remote-video-1" autoplay playsinline></video>
                <video class="video-call remoteVideo" id="remote-video-2" autoplay playsinline></video>
                <video class="video-call remoteVideo" id="remote-video-3" autoplay playsinline></video>
                <video class="video-call remoteVideo" id="remote-video-4" autoplay playsinline></video>
                <video class="video-call remoteVideo" id="remote-video-5" autoplay playsinline></video>
            </div>
            <br>
            <br>
            <div class="row w-75 large-video">
                <video class="video-call-large-screen col" id="remmote-video-large"></video>
            </div>
            <div class="group-button">
                <a name="" id="mute-button" class="btn btn-primary rounded-button" href="#" role="button">
                    <i class="fa fa-microphone icon-call" aria-hidden="true"></i>
                    stop micro
                </a>
                <a name="" id="stop-button" class="btn btn-danger rounded-button" href="#" role="button">
                    <i class="fa fa-phone icon-call" aria-hidden="true"></i>
                    stop audio
                </a>
                <a name="" id="video-button" class="btn btn-primary rounded-button" href="#" role="button">
                    <i class="fa fa-video-camera icon-call" aria-hidden="true"></i>
                    stop video
                </a>
            </div>
        </div>


        <div class="w-25 " style="background-color: white; border-style:outset; border-color: grey; ">
            <div style="overflow:scroll ; height:800px; margin-left: 10px ">
                {{#each messages}}
                <p>{{message}}</p> {{/each}} </div>
            <div style="background-color:white ">
                <div class="form-group ">
                    <label for=" "></label>
                    <input type="text " class="form-control " name=" " id="message" aria-describedby="helpId " placeholder=" ">
                    <br>
                    <button type="submit " class="btn btn-primary ">Submit</button>
                </div>
            </div>
        </div>
    </div>



    <script src=" https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js " integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI " crossorigin="anonymous "></script>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js "></script>
    <script src="/public/js/meeting_room.js "></script>

    <!-- ////////////////// -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>
        var roomName = '{{this.roomInfo.roomName}}';
        var isHost = {{ this.isHost }};
    </script>
    <!-- This file is automatically added/served when running "node index.js". -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    
    <script src="/room/client-room.js"></script>
</body>

</html>