<!DOCTYPE html>
<html>

<head>

    <title>Realtime communication with WebRTC</title>

    <!-- <link rel="stylesheet" href="/css/main.css" /> -->
    <link rel="stylesheet" href="/room/room.css" />

</head>

<body>

    <h1>welcome to {{roomInfo.roomName}}</h1>
    <h1>host: {{roomInfo.host.Email}}</h1>
    <h1>You: {{userId}}</h1>
    <h1>you are host: {{isHost}}</h1>


    <div id="videos">
        <video id="localVideo" autoplay muted playsinline></video>
        <br>
        <video class="remoteVideo" autoplay playsinline></video>
        <video class="remoteVideo" autoplay playsinline></video>
        <video class="remoteVideo" autoplay playsinline></video>
    </div>


    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>
        var roomName = '{{this.roomInfo.roomName}}';
        var isHost = {{this.isHost}};
    </script>
    <!-- This file is automatically added/served when running "node index.js". -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>

    <script src="/room/client-room.js"></script>


</body>

</html>